*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    padding: 10px;
    background-color: aqua;
    display: block;
}
nav{
    line-height: 20px;
    padding: 20px;
    background-color: cadetblue;
    color: blueviolet;
}

section{
    float: none;
    background-color: coral;
    padding-top: 10px;
    margin: 0%;
}
div{
    display: flex;
    height: 200px;
    width: 100%;
}
.side{
    background-color: lightblue;
}
.center{
    background-color: lightcyan;
}
    
footer{
    clear: both;
    padding: 10px;
    background-color: darkgoldenrod;
}
